.ready-to-rise-section {
    background-color: var(--grey-100);
    color: var(--grey-900);
    padding-top: 8rem;
    padding-bottom: 8rem;
    position: relative;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.marquee-wrapper {
    width: 100vw;
    max-width: 100%;
    position: relative;
}

.marquee-content {
    display: flex;
    white-space: nowrap;
}

.marquee-text {
    font-size: 30vw;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.05em;
    padding-right: 0;
    padding-bottom: 5vw;
}

@media (min-width: 1024px) {
    .marquee-text {
        font-size: 16vw;
    }
}

@media (min-width: 1536px) {
    .marquee-text {
        font-size: 14vw;
    }
}




